

  /* Navigation Bar */
  .navbar {
    background-color: #fff;
    padding: 1rem;
  }

  /* Main Content */
  .main-content {
    padding: 40px;
  }

  /* Feature section */
  .feature-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  /* Call to Action Section */
  .cta-section {
    background-color: #f8f9fa;
    padding: 40px;
    text-align: center;
  }

  /* Social Links */
  .social-links {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  /* About Section */
  #about {
    background-color: #f1f1f1;
    padding: 40px;
    text-align: center;
  }
  .image-container {
    text-align: center;
    margin-top: 50px;
}
img {
    width: 600px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
img:hover {
    transform: scale(1.1);
}
.logo{
  width: 20px;
  height: 20px;
}

body {
  padding-top: 0px;
}
#headerImage {
  width: 5%;
  height: auto;
}